/******************* Fonts *******************/

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.eot');
    src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Light.woff2') format('woff2'),
    url('../fonts/Gotham-Light.woff') format('woff'),
    url('../fonts/Gotham-Light.ttf') format('truetype'),
    url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.eot');
    src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Bold.woff2') format('woff2'),
    url('../fonts/Gotham-Bold.woff') format('woff'),
    url('../fonts/Gotham-Bold.ttf') format('truetype'),
    url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium.eot');
    src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Medium.woff2') format('woff2'),
    url('../fonts/Gotham-Medium.woff') format('woff'),
    url('../fonts/Gotham-Medium.ttf') format('truetype'),
    url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Black.eot');
    src: url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Black.woff2') format('woff2'),
    url('../fonts/Gotham-Black.woff') format('woff'),
    url('../fonts/Gotham-Black.ttf') format('truetype'),
    url('../fonts/Gotham-Black.svg#Gotham-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transat Text';
    src: url('../fonts/TransatTextBlackOblique.woff2') format('woff2'),
    url('../fonts/TransatTextBlackOblique.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transat Text';
    src: url('../fonts/TransatTextBlack.woff2') format('woff2'),
    url('../fonts/TransatTextBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transat Text';
    src: url('../fonts/TransatTextLightOblique.woff2') format('woff2'),
    url('../fonts/TransatTextLightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transat Text';
    src: url('../fonts/TransatTextLight.woff2') format('woff2'),
    url('../fonts/TransatTextLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transat Text';
    src: url('../fonts/TransatTextMedium.woff2') format('woff2'),
    url('../fonts/TransatTextMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transat Text Standard';
    src: url('../fonts/TransatTextBoldOblique.woff2') format('woff2'),
    url('../fonts/TransatTextBoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transat Text Standard';
    src: url('../fonts/TransatTextBold.woff2') format('woff2'),
    url('../fonts/TransatTextBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transat Text';
    src: url('../fonts/TransatTextMediumOblique.woff2') format('woff2'),
    url('../fonts/TransatTextMediumOblique.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transat Text Standard';
    src: url('../fonts/TransatTextStandardOblique.woff2') format('woff2'),
    url('../fonts/TransatTextStandardOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transat Text Standard';
    src: url('../fonts/TransatTextStandard.woff2') format('woff2'),
    url('../fonts/TransatTextStandard.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/******************* Bootstrap Customization *******************/

.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container-sm, .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container-md, .container-sm, .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1140px;
    }
}


/******************* Base *******************/

html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Gotham";
    font-weight: 400;
}

/******************* Loading Section *******************/

.full-loading-bg {
    background-color: #FAF0E1;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    top: 0;
    z-index: 1111;
}

.full-loading-bg .loading-svg {
    max-width: 520px;
}


.home #wrapper-navbar.loading-bay {
    background: none;
    z-index: 1112;
}

.home #wrapper-navbar.loading-bay #navbarNavDropdown {
    opacity: 0;
}

.home #wrapper-navbar.loading-bay .wfhk-logo {
    filter: invert(1);
}

.home #wrapper-navbar.loading-bay .navbar-light .navbar-toggler,
.home #wrapper-navbar.loading-bay .navbar-light .navbar-nav .btn,
.home #wrapper-navbar.loading-bay .border-bottom,
.home .nothome.footer-section {
    display: none;
    opacity: 0;
}

@-webkit-keyframes opacity {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes opacity {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

#loading-journey {
    left: 50%;
    top: 39%;
    transform: translateX(-50%);
    font-family: 'Transat Text';
    font-weight: 500;
    font-size: 18px;
    color: #333;
}

#loading-journey span {
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: opacity;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
}

#loading-journey span:nth-child(2) {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
}

#loading-journey span:nth-child(3) {
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
}



/******************* Homepage *******************/




.home #page {
    min-height: 100vh;
    height: 100%;
}

.home .site-main {
    overflow: hidden;
}

.sections-video {
    height: 100vh;
    left: 0;
    overflow: hidden;
    top: 0;
    width: 100vw;
    z-index: -1;
}

.video-chapter video {
    left: 0;
    object-fit: cover;
    object-position: center;
    top: 0;
}

.section-chapter {
    height: 100vh;
}

.texting-word h1,
.texting-word h2,
.texting-word h3,
.texting-word h4 {
    font-family: 'Transat Text Standard';
}

.texting-word h1 {
    font-size: 55px;
    font-weight: 900;
    line-height: 66px;
}

.texting-word .h3 {
    font-size: 35px;
    font-weight: 900;
    line-height: 46px;
}

.texting-word h2 {
    font-size: 40px;
    font-weight: 900;
}

.texting-word h3 {
    font-weight: 300;
}

.bg-grey {
    background-color: #fff3;
}

.panel {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.texting-word {
    position: relative;
    opacity: 0;
    z-index: 11;
}

.texting-word p {
    font-family: 'Transat Text';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

section.panel:not(.first) {
    opacity: 0;
    visibility: hidden;
}

.btn-apply {
    background-color: transparent;
    transition: 0.5s ease;
}

.btn-apply:hover {
    background-color: #000;
}

.btn-outline-white {
    border: 1px solid;
    font-weight: bold;
    font-size: 13px;
}

.slider-navigation {
    bottom: 50%;
    right: 1rem;
    transform: translateY(50%);
}

.slider-navigation button {
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 100%;
    cursor: pointer;
    height: 19px;
    margin-bottom: 1rem;
    outline: none;
    padding: 0;
    position: relative;
    width: 19px;
}

.slider-navigation button:before {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 100%;
    content: "";
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.slider-navigation button.activates {
    border: 4px solid rgba(255,255,255,0.35);
    pointer-events: none;
}

.slider-navigation button.activates:before {
    background-color: #fff;
}

#section5 .footer-section {
    position: absolute;
    width: 100%;
    bottom: 0;
}

/******************* Loading Section *******************/
