.wfhk-logo {
    max-width: none;
    width: 170px;
}

#wrapper-navbar {
    z-index: 1;
}

#wrapper-navbar #main-nav .navbar-nav .nav-item {
    width: unset!important;
}

#wrapper-navbar #main-nav .navbar-nav {
    justify-content: start!important;
    font-family: "Gotham";
    font-weight: 500;
}

#wrapper-navbar #main-nav .navbar-nav .nav-item .nav-link {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.1;
    padding: 0;
    text-align: center;
    word-wrap: break-word;
}

.navbar-light .navbar-nav li.active:before {
    filter: alpha(opacity=100)!important;
    opacity: 1!important;
    -moz-transform: translate(0.5%, 0) scaleX(1)!important;
    -o-transform: translate(0.5%, 0) scaleX(1)!important;
    -ms-transform: translate(0.5%, 0) scaleX(1)!important;
    -webkit-transform: translate(0.5%, 0) scaleX(1)!important;
    transform: translate(0.5%, 0) scaleX(1)!important;
    visibility: visible!important;
}

.navbar-light .navbar-nav li:before,
.navbar-light .navbar-nav li.active:before {
    background-color: #FFFFFF;
    height: 0.3rem!important;
    bottom: -22px!important;
    width: 100%!important;
}

#wrapper-navbar #main-nav .navbar-nav .nav-item.btn .nav-link, #wrapper-navbar #main-nav .navbar-nav .wpcf7 input.nav-item[type="submit"] .nav-link, .wpcf7 #wrapper-navbar #main-nav .navbar-nav input.nav-item[type="submit"] .nav-link {
    padding: 1rem 0;
    text-transform: none;
    white-space: nowrap;
    width: 100%;
}
.navbar-light .navbar-nav .nav-link {
    color: #FFFFFF;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #FFFFFF;
}

.navbar-light .navbar-nav .btn,
.navbar-light .navbar-nav .wpcf7 input[type="submit"],
.wpcf7 .navbar-light .navbar-nav input[type="submit"] {
    background-color: transparent;
    border-color: #FFFFFF;
}

.header-title {
    font-size: 3.125rem;
    font-family: 'Transat Text';
    font-weight: 900;
    text-shadow: 0 4px 6px rgb(0 0 0 / 29%);
}

.island-update-hero,
.lenovo-solutions-hero,
.faqs-hero,
.defaults-hero,
.island-conservation-hero,
.the-community-hero,
.the-office-hero {
    color: white;
    background: #1A2A4E;
    background-image: url("../images/Header-Island-Updates.png");
    background-position: top;
    background-repeat: no-repeat!important;
    background-size: contain;
    z-index: 0;
}

.island-update-hero *,
.lenovo-solutions-hero *,
.faqs-hero *,
.defaults-hero *,
.island-conservation-hero *,
.the-community-hero *,
.the-office-hero * {
    color: white;
}

.island-update-hero a,
.lenovo-solutions-hero a,
.faqs-hero a,
.defaults-hero a,
.island-conservation-hero a,
.the-community-hero a,
.the-office-hero a {
    color: white !important;
    text-decoration: underline;
}

.lenovo-solutions-hero {
    background-color: #52689B;
    background-image: url("../images/Header-Lenovo-Solutions.png");
}

.faqs-hero {
    background-color: #000000;
    background-image: url("../images/Header-faq.png");
}

.island-conservation-hero {
    background-color: #E3DAC8;
    background-image: url("../images/Header-Island-Conservation.png");
}

.the-community-hero {
    background-color: #1D547E;
    background-image: url("../images/Header-Community.png");
}

.the-office-hero {
    background-color: #242128;
    background-image: url("../images/Headers-workspace.png"), url("../images/Background.png")!important;
    background-repeat: no-repeat, repeat!important;
}

.page-template-page-the_office .footer-section {
    background-image: url("../images/Background.png")!important;
    background-repeat: repeat;
}

.page-template-page-the_office .footer-section .text-white,
.page-template-page-the_office .text-white {
    color: #333333!important;
}

.page-template-page-the_office .border-bottom:first-child {
    border-color: #333333!important;
}

.page-template-page-the_office .header-title {
    color: #FFFFFF!important;
}

.island-update-hero {
    background-size: contain;
}

.title-header-section {
    height: 650px;
}

.position-absolute.center {
    top: 235px;
    width: 100%;
}

.position-absolute.scroll-more {
    top: 525px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.scroll-more lottie-player {
    cursor: pointer;
    width: 24px;
}

.scroll-more-text {
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
}

.transat-text-black {
    font-family: 'Transat Text';
    font-weight: 900;
}

.transat-text-standard {
    font-family: 'Transat Text Standard';
    font-weight: bold;
}

.transat-text-medium {
    font-family: 'Transat Text';
    font-weight: 500;
}

.gotham-bold {
    font-family: 'Gotham';
    font-weight: bold;
}

.island-at-back {
    color: white;
    background-image: url("../images/Island-Outline-Blue.png");
    background-position: left top;
    background-repeat: no-repeat!important;
    background-size: contain;
    margin-top: 150px;
}

.the-community-hero .island-at-back {
    background-image: url("../images/Island-Background-Outline-Light-Blue.png");
    background-position: top left;
    margin-top: 0;
}

.the-office-hero .island-at-back {
    background-image: url("../images/Island-Background-Outline-Light-Brown.png");
    background-position: bottom left;
    margin-top: 0;
}

.island-conservation-hero .island-at-back {
    background-image: url("../images/Island-Background-Outline-Light-Brown.png");
    background-position: top left;
    margin-top: 0;
}

.fw-500 {
    font-weight: 500;
}

.page-template-page-lenovo_solutions .footer-section {
    background: #52689B;
}

.page-template-page-island_update .footer-section {
    padding-top: 50px;
    background: #1A2A4E;
}

.page-template-page-faqs .footer-section {
    background: #000000;
}

.page-template-page-the_community .footer-section {
    padding-top: 0!important;
    background: #1D547E;
}

.page-template-page-island_conservation .footer-section {
    padding-top: 0!important;
    background: #E3DAC8;
}

.page-template-page-island_conservation .footer-section .text-white {
    color: #333333!important
}

.page-template-default .footer-section,
.page-template-page-the_office {
    background: #242128;
}

.footer-section {
    padding-top: 110px;
}

.footer-logo {
    height: 34px;
}

.font-9px {
    font-size: 0.563rem;
}

.font-11px {
    font-size: 0.688rem;
}

.font-12px {
    font-size: 0.75rem;
}

.font-13px {
    font-size: 0.813rem;
}

.font-14px {
    font-size: 0.875rem;
}

.font-20px {
    font-size: 1.25rem;
}

.font-25px {
    font-size: 1.563rem;
}

.font-50px {
    font-size: 50px;
}

.color-333333 {
    color: #333333!important;
}

.color-867066 {
    color: #867066!important;
}

.line-height-25px {
    line-height: 25px;
}

.z-index-1 {
    z-index: -1;
}

#accordion .btn-link:not(.not-image-rectangle)::before {
    content: '\f105';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-55%);
    display: block;
    font-family: 'FontAwesome';
    font-size: 20px;
    color: #ffffff;
    transition: transform .2s ease-in-out;
}

#accordion .btn-link[aria-expanded='true']:not(.not-image-rectangle)::before {
    content: '\f107';
}

#accordion .card {
    background: transparent!important;
    border-bottom: 1px solid #2D2D2D;
}

#accordion .btn-link,
#accordion .btn-link:hover {
    color: #ffffff;
    text-decoration: none;
    box-shadow: unset!important;
}

.community-image-sections img,
.island-image {
    width: 340px;
}

.community-image-sections div:not(.not-image-rectangle)::before {
    content: ' ';
    width: 15px;
    position: absolute;
    height: 230px;
    background: #13466C;
    top: 8px;
    left: -15px;
    z-index: 0;
}

.community-image-sections div:not(.not-image-rectangle)::after {
    content: ' ';
    width: 340px;
    position: absolute;
    height: 12px;
    background: #13466C;
    bottom: -12px;
    left: -15px;
    z-index: 0;
}

.the-office-hero .community-image-sections div:not(.not-image-rectangle)::before {
    background: #3F3C44;
}

.the-office-hero .community-image-sections div:not(.not-image-rectangle)::after {
    background: #3F3C44;
}

.island-conservation-hero .community-image-sections div:not(.not-image-rectangle)::before {
    background: #867066;
}

.island-conservation-hero .community-image-sections div:not(.not-image-rectangle)::after {
    background: #867066;
}

.year-mpra {
    overflow: hidden; /* hide long vl */
}
.year-mpra .based-dots,
.year-mpra .outer-dots .dots,
.year-mpra .outer-dots .within-dots,
.year-mpra .outer-dots {
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 11;
}
.year-mpra .outer-dots {
    background-color: transparent;
    border: 2px solid #9D9D9D;
    height: 40px;
    width: 40px;
}
.year-mpra .outer-dots .dots {
    background-color: #9D9D9D;
    height: 15px;
    width: 15px;
}
.year-mpra a {
    text-decoration: none;
}
.year-mpra a:hover p {
    color: #e30613 !important;
}

.vl {
    border-left: 1px solid #9D9D9D;
    height: 1900px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.year-mpra:first-child .vl {
    transform: translate(-50%, 0);
}

.pull-timeline-dot {
    top: -110px;
}

.text-underline {
    text-decoration: underline!important;
}

.island-update-hero .card-header {
    border-bottom: 0!important;
}

.island-update-hero #accordion .card {
    border: 0!important
}

.island-update-hero #accordion .btn-link:not(.not-image-rectangle)::before {
    content: '';
}

.robinson-text {
    bottom: 10px;
    right: -50px;
}

#wrapper-navbar #main-nav .navbar-nav > .nav-item::before,
#wrapper-navbar #main-nav .navbar-nav > .nav-item:hover::before {
    bottom: 0rem;
    content: "";
    height: 0.1rem;
    left: auto;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: calc(100% - 2.1em);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
}

.navbar-light .navbar-nav li:before,
.navbar-light .navbar-nav li.active:before,
.navbar-light .navbar-nav li:hover::before {
    background-color: #FFFFFF;
    height: 3px!important;
    bottom: -8px!important;
    left: 0!important;
    width: 100%!important;
}

.page-template-page-apply_now .navbar-light .navbar-nav li:hover::before {
    background-color: #000000!important
}

.navbar-light .navbar-nav li:hover::before {
    filter: alpha(opacity=100)!important;
    opacity: 1!important;
    -moz-transform: translate(0.5%, 0) scaleX(1)!important;
    -o-transform: translate(0.5%, 0) scaleX(1)!important;
    -ms-transform: translate(0.5%, 0) scaleX(1)!important;
    -webkit-transform: translate(0.5%, 0) scaleX(1)!important;
    transform: translate(0.5%, 0) scaleX(1)!important;
    visibility: visible!important;
}

.navbar-light .navbar-nav li.btn {
    height: 40px!important;
}

.navbar-light .navbar-nav li.btn .nav-link {
    padding: 0px!important;
    padding-top: 7px!important;
}

.navbar-light .navbar-nav li.btn:before {
    visibility: hidden!important;
}

.border-bottom {
    border: 0;
    border-bottom: 1px solid #FFFFFF !important
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #FFFFFF!important;
}

#wrapper-navbar #main-nav .navbar-nav > .nav-item {
    position: relative;
}

.apply-now-hero {
    color: #333333;
    background-color: #E3DAC8;
    background-image: url("../images/Header-Full-Page-Apply-Form.png");
    background-position: bottom;
    background-repeat: no-repeat!important;
    background-size: cover;
    z-index: 0;
    height: 100vh;
    width: 100vw;
}

.paper-form-page {
    top: 0;
}

.form-box {
    border: 2px solid #D0BDA3;
}

.form-box-title {
    background-color: transparent;
    top: -13px;
    left: 2rem;
}

/* .form-box-title-background-light {
background-color: #EBE7DA;
} */

.form-box-title-background-light::before {
    background-color: #EBE7DA;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 11px;
    width: 100%;
    z-index: 0;
}

.form-button,
.form-button:hover {
    border-color: #D0BDA3!important;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    white-space: unset!important;
}

.form-button::before {
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 5px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.form-button:hover {
    background-color: transparent;
}

.form-button:hover::before {
    border: 1px solid #D0BDA3;
}

.form-button:active,
.form-button.active {
    background-color: #D0BDA3!important;
}

button[type="submit"].form-button,
button[type="submit"].form-button:hover {
    border-color: #979797!important;
}

.terms-condition-form {
    text-decoration: underline;
}

.upload-cv-ui {
    border: 1px dashed #979797!important;
}

.btn-choose-file,
.btn-choose-file:hover {
    background: #F1F1F1!important;
    border: 1px solid #CDCDCD!important
}

.page-template-page-apply_now .navbar-light .navbar-nav .nav-link {
    color: #000;
}

.page-template-page-apply_now #wrapper-navbar hr {
    border-bottom-color: #000 !important;
}

.page-template-page-apply_now .wfhk-logo {
    filter: grayscale(100%) brightness(0);
}

.page-template-page-apply_now .navbar-light .navbar-nav .btn {
    border-color: #000!important
}

.wpcf7-list-item input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.25rem;
}

.wpcf7-list-item-label {
    font-size: 0.813rem;
    display: inline-block;
}

.paper-form-page .wpcf7 input[type="text"],
.paper-form-page .wpcf7 input[type="search"],
.paper-form-page .wpcf7 input[type="url"],
.paper-form-page .wpcf7 input[type="tel"],
.paper-form-page .wpcf7 input[type="number"],
.paper-form-page .wpcf7 input[type="range"],
.paper-form-page .wpcf7 input[type="date"],
.paper-form-page .wpcf7 input[type="month"],
.paper-form-page .wpcf7 input[type="week"],
.paper-form-page .wpcf7 input[type="time"],
.paper-form-page .wpcf7 input[type="datetime"],
.paper-form-page .wpcf7 input[type="datetime-local"],
.paper-form-page .wpcf7 input[type="color"],
.paper-form-page .wpcf7 input[type="email"],
.paper-form-page .wpcf7 input[type="file"],
.paper-form-page .wpcf7 input[type="submit"],
.paper-form-page .wpcf7 select,
.paper-form-page .wpcf7 textarea,
.paper-form-page .wpcf7 .wpcf7-validation-errors {
    background-color: #EEEDEA;
    border: 1px solid #979797;
    border-radius: 0;
}

.form-image-top {
    top: -40px;
    z-index: 1;
}

.form-image-bottom {
    bottom: -50px;
    left: 0;
    z-index: 0;
}

.form-content-bg {
    background-image: url('../images/texture-paper.png');
    width: 95%;
    height: 98%;
    top: 60px;
    left: 16px;
    z-index: 0;
}

.form-check small,
.form-group small  {
    display: block;
    line-height: 12px;
    padding-left: 1rem;
}

.paper-form-page .wpcf7 input[type="submit"] {
    background: transparent;
    color: #212529;
    font-size: 0.813rem;
    border-color: #D0BDA3 !important;
    white-space: unset !important;
    width: auto;
}

.paper-form-page .wpcf7 input[type="submit"]:hover {
    background-color: #000;
    color: #fff;
    border-color: #D0BDA3 !important;
    white-space: unset !important;
}

.paper-form-page .wpcf7 input[type="file"] {
    background-color: transparent;
    border-color: transparent !important;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    height: auto;
    min-height: 50px;
    padding: 1rem;
}

.wpcf7-not-valid-tip {
    font-size: 0.75rem;
    padding: 0 0 0 1rem;
}

.paper-form-page .wpcf7 input:not(:disabled):focus[type="submit"] {
    -webkit-box-shadow: 0 0 0 0.2rem rgb(208, 189, 163) !important;
    box-shadow: 0 0 0 0.2rem rgb(208, 189, 163) !important;
}

.wpcf7-form-control-wrap.skills .wpcf7-list-item,
.wpcf7-form-control-wrap.role .wpcf7-list-item {
    position: absolute;
    visibility: hidden;
}

.navbar-light .navbar-toggler {
    background: transparent;
    border-color: transparent!important;
    color: transparent!important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 24" class="_SiteNav-df _SiteNav-dg _SiteNav-dh _SiteNav-di _SiteNav-dj _SiteNav-dk"%3E%3Cg fill="%23FFFFFF"%3E%3Crect x="1" y="4" width="24" height="3"/%3E%3Crect x="1" y="12" width="20" height="3"/%3E%3Crect x="1" y="20" width="30" height="3"/%3E%3C/g%3E%3C/svg%3E')!important;
}

.linear-menu-background {
    background: linear-gradient(180deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);
}

.navbar-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030!important;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.body-text-accordion {
    font-size: 0.875rem;
}

#main-nav {
    transition: background-color 0.5s ease;
}

.page-template-page-island_update .scrolled-up #main-nav {
    background-color: #1A2A4E;
}

.page-template-page-island_conservation .scrolled-up #main-nav {
    background-color: #E3DAC8;
}

.page-template-page-island_conservation .scrolled-up #main-nav .navbar-toggler.white .bar,
.page-template-page-the_office .scrolled-up #main-nav .navbar-toggler.white .bar {
    background-color: #000000!important;
}

.page-template-page-island_conservation .scrolled-up .navbar-light .navbar-nav .nav-link,
.page-template-page-the_office .scrolled-up .navbar-light .navbar-nav .nav-link {
    color: #000;
}

.page-template-page-island_conservation #wrapper-navbar.scrolled-up .border-bottom,
.page-template-page-the_office #wrapper-navbar.scrolled-up .border-bottom {
    border-bottom-color: #000 !important;
}

.page-template-page-island_conservation .scrolled-up .wfhk-logo,
.page-template-page-the_office .scrolled-up .wfhk-logo {
    filter: grayscale(100%) brightness(0);
}

.page-template-page-island_conservation .scrolled-up .navbar-light .navbar-nav .active > .nav-link,
.page-template-page-the_office .scrolled-up .navbar-light .navbar-nav .active > .nav-link {
    color: #000000!important;
}

.page-template-page-island_conservation .scrolled-up .navbar-light .navbar-nav li:before,
.page-template-page-island_conservation .scrolled-up .navbar-light .navbar-nav li.active:before,
.page-template-page-island_conservation .scrolled-up .navbar-light .navbar-nav li:hover::before,
.page-template-page-the_office .scrolled-up .navbar-light .navbar-nav li:before,
.page-template-page-the_office .scrolled-up .navbar-light .navbar-nav li.active:before,
.page-template-page-the_office .scrolled-up .navbar-light .navbar-nav li:hover::before {
    background-color: #000000!important;
}

.page-template-page-island_conservation .scrolled-up .navbar-light .navbar-nav .btn,
.page-template-page-the_office .scrolled-up .navbar-light .navbar-nav .btn {
    border-color: #000!important
}

.page-template-page-the_community .scrolled-up #main-nav {
    background-color: #1D547E;
}

.page-template-page-the_office .scrolled-up #main-nav {
    background: url('../images/Background.png');
}

.page-template-page-lenovo_solutions .scrolled-up #main-nav {
    background-color: #52689B;
}

.page-template-page-faqs .scrolled-up #main-nav {
    background-color: #000000;
}

#wrapper-navbar #main-nav .navbar-nav > .btn.nav-item {
    transition: 0.5s ease;
}

#wrapper-navbar #main-nav .navbar-nav > .btn.nav-item:hover {
    /* background: linear-gradient(180deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%); */
    background-color: #000;
}

#wrapper-navbar #main-nav .navbar-nav > .btn.nav-item:hover .nav-link {
    color: #fff;
}

.navbar-toggler {
    border: none;
    margin-top: -10px;
    padding: 0;
    width: 36px;
    z-index: 1032;
}
.navbar-toggler.white .bar {
    background-color: #fff;
}
.navbar-toggler.white:after {
    color: #fff;
}
.navbar-toggler.black .bar {
    background-color: #000;
}
.navbar-toggler.black:after {
    color: #000;
}
.navbar-toggler .bar {
    width: 24px;
    height: 3px;
    margin: 9px 0;
    transition: 0.4s;
}
.navbar-toggler .bar.bar2 {
    width: 17px;
}
.navbar-toggler .bar.bar3 {
    width: 30px;
}
.navbar-toggler:after {
    display: block;
    font-family: "Gotham";
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
    position: absolute;
    right: 0;
    transition: 0.4s;
}
.navbar-toggler.expanded.white .bar {
    background-color: #000;
}
.navbar-toggler.expanded.white:after {
    color: #000;
}
.navbar-toggler.expanded .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 8px);
    transform: rotate(-45deg) translate(-5px, 8px);
}
.navbar-toggler.expanded .bar2 {
    opacity: 0;
}
.navbar-toggler.expanded .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -12px);
    transform: rotate(45deg) translate(-7px, -12px);
}

.menu--fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out, z-index 1000ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}
.menu--fade.addclass {
    transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
    opacity: 1;
    visibility: visible;
    z-index: 1031 !important;
}
.menu--fade .menu__content {
    background-image: url('../images/texture-paper.png');
    padding: 110px 30px 30px;
}
.menu--fade .menu__content .menu-links-content {
    overflow: hidden;
}
.menu--fade .menu__content .menu-links-content .menu-links {
    overflow-y: scroll;
    overflow-x: hidden;
}
.menu--fade .menu__content a {
    display: block;
    padding: 0 25px 0 0;
}
.menu--fade .menu__content a.menu-logo {
    display: block;
    margin-bottom: 30px;
}
.menu--fade .menu__content a.menu-logo img {
    max-width: 230px;
    filter: grayscale(100%) brightness(0)
}

.page-template-page-the_office .menu--fade .menu__content a.menu-logo img {
    max-width: 230px;
    filter: grayscale(100%) brightness(0)
}

.menu--fade .menu__content a.menu-link {
    display: block;
    height: 79px;
    position: relative;
    width: 100%;
}
.menu--fade .menu__content a.menu-link span {
    display: block;
    text-align: center;
}
.menu--fade .menu__content a.menu-link span.bg-text {
    color: #E691AB;
    font-family: "Hyperwave One";
    font-size: 130px;
    line-height: 79px;
    margin: 0;
    position: relative;
    opacity: 0;
    transition: opacity 400ms ease-in-out;
    z-index: 0;
}
.menu--fade .menu__content a.menu-link span.link-text {
    color: #000000;
    font-family: "Gotham";
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    top: 40%;
    transform: translateY(-50%);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    white-space: nowrap;
}
.menu--fade .menu__content a.menu-link.current span.bg-text, .menu--fade .menu__content a.menu-link:hover span.bg-text {
    opacity: 0.4;
    transition: opacity 400ms ease-in-out;
}
.menu--fade .menu__content .menu-footer {
    z-index: 1031;
}
.menu--fade .menu__content .menu-footer .logo-lenovo a {
    padding: 0 0 0 25px;
}
.menu--fade .menu__content .menu-footer .logo-lenovo a img {
    max-width: 90px;
}
.menu--fade .menu__content .menu-footer p {
    font-size: 15px;
}

.navbar-toggler.expanded .bar3 {
    width: 24px;
}

.navbar-toggler.expanded .bar3 {
    transform: rotate(45deg) translate(-9px, -12px);
}

.hide-behind-menu .year-mpra .outer-dots {
    display: none!important;
}

.compensate-for-scrollbar {
    overflow: hidden;
}

.mobile-show {
    display: none;
}

.expanded-mobile-menu.navbar-light .navbar-brand {
    z-index: 1032;
    filter: grayscale(100%) brightness(0)
}

span.link-text {
    position: relative;
}

.current span.link-text:after {
    content: ' ';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 100%;
    background: #000000;
}

@media only screen and (max-width: 1024px) {

    .mobile-show {
        display: inline-block;
    }

}


@media only screen and (max-width: 767px) {

    .texting-word .h3 {
        font-size: 18px;
        line-height: 22px;
    }

    .texting-word h1 {
        font-size: 45px;
        line-height: 45px;
    }

    .texting-word h2 {
        font-size: 35px;
    }

    .texting-word p {
        font-size: 15px;
        line-height: 23px;
    }

    #section5 .footer-section {
        display: none;
    }
}

@media only screen and (max-width: 567px) {
}

@media only screen and (max-width: 500px) {
    .position-absolute.center {
        width: unset!important;
        transform: translateX(-50%);
        left: 50%;
    }
    .remove-negative-margin-on-mobile {
        margin-left: 0!important;
        padding-left: 5px!important;
    }

    body .mobile-hide {
        display: none!important;
    }

    body .text-center-mobile {
        text-align: center!important;
    }

    .remove-extra-margin-on-mobile {
        margin-left: 10%!important;
    }

    .community-image-sections div:not(.not-image-rectangle)::before {
        height: 100%;
    }

    .community-image-sections div:not(.not-image-rectangle)::after {
        width: 100%;
    }

    .pull-timeline-dot {
        top: -48vh;
    }

    .vl {
        height: 1940px;
    }

    .lenovo-solutions-hero {
        background-image: url("../images/Mobile-Header-Lenovo-Solutions.png");
    }

    .faqs-hero {
        background-image: url("../images/Mobile-Header-faq.png");
    }

    .island-conservation-hero {
        background-image: url("../images/Mobile-Header-Island-Conservation.png");
    }

    .the-community-hero {
        background-image: url("../images/Mobile-Header-Community.png");
    }

    .the-office-hero {
        background-image: url("../images/Mobile-Headers-workspace.png"), url("../images/Background.png")!important;
    }

    .island-update-hero {
        background-image: url("../images/Mobile-Header-Island-Updates.png");
    }

    .lenovo-solutions-hero .scroll-more,
    .faqs-hero .scroll-more,
    .island-conservation-hero .scroll-more,
    .the-community-hero .scroll-more,
    .the-office-hero .scroll-more,
    .island-update-hero .scroll-more {
        display: none!important;
    }

    .header-title {
        font-size: 35px!important;
    }

    .robinson-text {
        right: unset!important;
        bottom: -40px;
    }

    #accordion .btn-link {
        white-space: normal!important;
    }

    .flex-wrap-mobile {
        flex-wrap: wrap!important;
    }

    .page-template-page-the_office .title-header-section {
        height: 480px!important;
    }
}


@media only screen and (max-width: 320px) {

    .texting-word h2 {
        font-size: 26px;
    }
}
